*{
    margin: 0%;
}
main{
    width: 100vw;
    margin: 0%;
    border: 1px solid;

}
body{
    width: 100vw;
}
header{
    width: 100%;
    height: 400px;
    background-image: url(./Images/image.jpg);
    background-size: cover;
    /* top: 0%; */
}
nav{
    /* border: 1px solid; */
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.bar{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 20px;
}
.app{
    padding: 20px;
}
.title{
    width: 60%;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
    color: aliceblue;
    /* border: 1px solid; */
    text-align: center;
    
}
.title h1,p{
    margin: 20px 0px;
}
.inputs{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
}
.title [name="Location"]{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.title input[type="search"]{
    width: 70%;
    height: 55px;
    border-radius: 10px;
    border: none;
}

section{
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid; */
    /* display: flex;
     */
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows:200px;
    gap: 5px;
    margin-top: 40px;
    
   
}
section div{
    position: relative;
    /* padding: 10%; */
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: 1px solid rgb(225, 220, 220);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5%;

}
.card{
    width: 100%;
    background-color: white;
    /* border: 1px solid; */
    position: absolute;
    bottom: 0%;
    border-radius:0 0 8px 8px;

}
.imgs:hover{
    box-shadow: 0px 0px 20px;
}
.collection{
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid; */
    margin-top: 100px;
}
.collection-photos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    gap: 10px;
    flex-wrap: wrap;
}
.collection-photos div p{
    position: absolute;
    bottom: 0%;
    color: white;
    text-align: center;
}
.places{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 40px;
   
    /* border: 1px solid; */
    

}
.cards{

    background-color: white;
    height: 70px;
    border: 0.4px solid rgb(239, 236, 236);
    border-radius: 20px;
    text-align: justify;
    padding-left:10px ;
}
.cards:hover{
    box-shadow: 0px 0px 5px;
}
.cards p,h4{
    margin: 10px;
}
.contact{
    width: 100%;
    height: 500px;
    background-color: rgb(242, 233, 233);
    margin-top: 100px;
    display: flex;
}
.contact-phone{
    width: 40%;
    height: 100%;
    /* border: 1px solid; */
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
}
.collection a{
    color: pink;
}
.collection a:hover{
    color: rgb(49, 97, 19);
}
.contact-phone img{
    width: 50%;
    height: 50%;
    /* border: 1px solid; */
    align-self: center;
   
}
.contact-mail{
    /* border: 1px solid; */
    width: 60%;
    padding: 100px 20px;
}
/* .contact-mail div{
    width: 60%;
    height: 30px;
    margin-top: 10px;
    /* background-color: aliceblue; 
} */
[type="text"]{
    
    width: 100%;
    height: 100%;
}
.d1,.d2{
    display: flex;
}
button{
    height: 100%;
    border: none;
    width: 100px;
    margin: 0 10px;
    background-color: rgb(188, 38, 143);
    cursor: pointer;
}
.download{
    display: flex;
}
.download img{
    width: 130px;
    margin: 0 10px 0 0;
}
.explore{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore div{
    width: 100%;
    border: 1px solid;
    /* height: 50px; */
    border-radius: 20px;
    text-align: justify;
}
.explore summary{
    margin-left: 30px;
    margin: 15px 0 15px;
}
.explore p{
    padding: 0 20px;
}
footer{
    width: 100%;
    background-color: rgb(213, 213, 213);
    /* padding: 0px 0 0 10px; */
}
.footer-title{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* border: 1px solid rgb(188, 26, 188); */

}
.footer-title select{
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.foot{
    width: 80%;
    padding-top: 20px;
    /* border: 1px solid blue; */
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.foot div{
    /* border: 1px solid; */
    /* margin-right: 30px; */
    margin-top: 50px;
    /* flex-wrap: wrap; */
    padding: 0;
    ;
    /* margin-bottom: 0px; */
    /* height: 100px; */
}
.foot h3,p{
    margin: 0 0 0 10px;
}
.links{
    display: flex;
}
.links img{
    width: 20px;
    margin-right: 5px;
}
.foot p{
    padding: -20px 20pxpx;
}
nav div{
    cursor: pointer;
}
.app p:hover{
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.bar p:hover{
    border-radius: 5px;
    box-shadow: 0px 0 10px;
}
.menu{
    
    display: none;

}
@media screen and (max-width:420px) {
    *{
       margin: 0%;

    }
    body{
        /* background-color: red; */
    }
    main{
        width: 100vw;
        margin: 0%;
        border: 1px solid black;
        position: relative;
        right: 0%;
        padding: 0%;
    }
    #social-links{
        display: none;
    }
    header{
        margin: 0px;
    }
    nav .bar{
        width: 100%;
        margin: 0%;
        display: none;
    }
    footer{
        width: 100%;
    }
    .footer-title{
        margin: 0;
    }
    .foot{
        width: 100%;
        margin: 0%;
        display: grid;
        grid-template-columns: auto auto;
    }
    .contact-phone{
        display: none;
    }
    .collection-photos{
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: 200px;
    }
    .collection-photos div{
        position: relative;
    }
    .footer-title{
        width: 100%;
    }
    #section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /* border: 1px solid; */
    }
    .places{
        grid-template-columns: 1fr;
    }
    .download{
        flex-direction: column;
    }
   .footer-title{
    flex-direction: column;
   }
}
@media screen and (min-width:420px) and (max-width:920px) {
    .collection-photos{
        grid-template-columns: 1fr 1fr;
       
    }
    .collection-photos div{
        position: relative;
    }
}
@media screen and (max-width:560px) {
    .menu{
        display: block;
        background-color: aliceblue;
        width: 30px;
        height: 30px;
        align-self: center;
        border-radius: 5px;
    }
    .bar{
        display: none;
    }
}
@media screen and (max-width:270px) {
    .foot{
        grid-template-columns: 1fr;
    }
}